# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
node_modules/
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# .Net minimal API

.idea/.idea.ReviewsAI.dir/.idea/.gitignore
.idea/.idea.ReviewsAI.dir/.idea/encodings.xml
ReviewAIBackend/_ReSharper.Caches/
.idea/
.vs/
bin/
obj/
_ReSharper.*
.DS_Store
Logs/
ssl/